/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #DEE2E2;
  background-image: url("assets/img/blue-background.jpg");
/*  background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-color: #34495e;
}





/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #031C2B;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-brand {
  color: #BEE5E2;
}

.navbar {

}

.dropdown > .dropdown-menu {
  background-color: #031C2B;
}
.dropdown > .dropdown-menu a {
  color: #DEE2E2;
}
.dropdown > .dropdown-menu a:hover {
  background-color: #9E9E9E;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #34495e;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-inner > .item > .first-slide {
  height: 700px;
}
.carousel-inner > .item > .second-slide {
  height: 600px;
}
.carousel-inner > .item > .third-slide {
  height: 500px;
}
.carousel-inner > .item > .fourth-slide {
  height: 800px;
}

/*Image Hover*/
.item img 
{
  max-width: 100%;
  -moz-transition: all 2.5s;
  -webkit-transition: all 2.5s;
  transition: all 2.5s;
/*  width:250px;
  height:220px;*/
}
.item:hover img 
{
 -moz-transform: scale(1.3);
 -webkit-transform: scale(1.3);
 transform: scale(1.3);
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .row {
  flex-direction: row;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.btn-default {
  width: 200px;
  background-color: #DEE2E2;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/*borders for featurette images*/
.featurette-image {
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;
}

#gameDiv {
  height: 500px;
  width: 500px;
  background-color: red;
}

.text-primary {
  font-size: 85%;
}

/*LINK COLORS*/
a.links:link {
  color: #2D8CBF;
}
a.links:visited {
  color: #2D8CBF;
}
a.links:hover {
  color: #38B8E2;
  text-decoration: none;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
