/* test
body {
  background: yellow;
}

*/

.wholepage {
  background:white;
}

.headertext {
font-size: larger;
text-shadow: 5px;
text-align: center;
background-image: url(Oracle-Arena2.jpg);
padding: 180px;
color: white;
font-weight: bold;
margin: 10px;
}

.headertext {
font-size: small;
}

.warriors {
border: 2px solid black;
padding: 5px;
margin: 5px;
display: inline-block;
width: 30%;
vertical-align: top;
font-weight: bold;
background-image: url(warriors_logo.jpg);
background-position: right;
background-size: 40%;
background-repeat: no-repeat;
}

.giants {
border: 2px solid black;
padding: 5px;
margin: 5px;
display: inline-block;
width: 30%;
vertical-align: top;
font-weight: bold;
background-image: url(giants_logo.jpg);
background-position: right;
background-repeat: no-repeat;
}

.niners {
border: 2px solid black;
padding: 5px;
margin: 5px;
display: inline-block;
width: 30%;
vertical-align: top;
font-weight: bold;
background-image: url(niners_logo.jpg);
background-size:50%;
background-position: right;
background-repeat: no-repeat;
}



.Tshirt_link {
  text-align: center;
  display: block;
  width: 100%;


}

.links {
  text-align: center;
  display: block;
}

.formlink {
  position: relative;
  text-align: center;
}

ul {
  list-style-type: square;
}

li {
  font-style: italic;

}